{% extends "myapp/base.html" %}

{% block content %}
<div class="container">
  <h2 class="mb-4">Historial de Cálculos de Bisección</h2>
  {% if history %}
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Ecuación</th>
            <th>Valor Mínimo</th>
            <th>Valor Máximo</th>
            <th>Error Porcentual</th>
            <th>Raíz Aproximada</th>
            <th>Iteraciones</th>
            <th>Error Final</th>
            <th>Fecha</th>
            <th>Acciones</th> <!-- Columna para el botón Ver Detalles -->
          </tr>
        </thead>
        <tbody>
          {% for item in history %}
            <tr>
              <td>{{ item.ecuacion }}</td>
              <td>{{ item.valor_min }}</td>
              <td>{{ item.valor_max }}</td>
              <td>{{ item.error_porcentual }}</td>
              <td>{{ item.raiz_aproximada }}</td>
              <td>{{ item.iter_count }}</td>
              <td>{{ item.error_final }}</td>
              <td>{{ item.created_at|date:"d M Y H:i" }}</td>
              <td>
                <a href="{% url 'detalles' item.id %}" class="btn btn-info btn-sm">Ver Detalles</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <p class="text-center">No has realizado ningún cálculo de bisección aún.</p>
  {% endif %}
  <div class="text-center">
    <a href="{% url 'calcular_Biseccion' %}" class="btn btn-primary mt-4">Volver al Método de Bisección</a>
  </div>
</div>
{% endblock %}
